{% extends 'Main/layout.html' %}
{% load static %}

{% block title %}
Мастер-классы | Yarniverse Toys - онлайн-магазин материалов для вязания
{% endblock %}
{% block content %}
<div class="profile_main">
    <div class="profile_main_left">
            {% include 'Main/LK.html' %}
    </div>
    <div class="profile_main_right">
          <div class="profile_main_right_top">
          <h2>{{ MasClas.name_tovar }}</h2>

          </div>
          <div class="profile_data">
<iframe width="840" height="540" src="{{ MasClas.url_tovar }}" title="ЖАБКА крючком 🐸| Плюшевая ЛЯГУШКА | Урок для новичков" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


          </div>

    </div>
</div>
{% endblock %}