{% extends 'Main/layout.html' %}
{% load static %}

{% block title %}
О приложении | Yarniverse Toys - онлайн-магазин материалов для вязания
{% endblock %}
{% block content %}
<div class="profile_main">
    <div class="profile_main_left">
            {% include 'Main/LK.html' %}
    </div>
    <div class="profile_main_right">
          <div class="profile_main_right_top">
              <h2>О приложении</h2>
          </div>
            <div class="profile_data">

          </div>

    </div>
</div>
{% endblock %}