{% extends 'Main/layout.html' %}
{% load humanize %}
{% load static %}


{% block title %}
Каталог | Yarniverse Toys - онлайн-магазин материалов для вязания
{% endblock %}

  {% block content %}


  {% if user.is_superuser %}
  <a href="{% url 'create' %}"><button class="btn-add"><i class="fas fa-plus-circle"></i>Добавить товар</button></a>
  {% endif %}

<main class="catalog_main">
  <div class="catalog_main_inner">
      <div class="catalog_main_title">
        <h1>Каталог</h1>
      </div>
    {% if tovars %}
        <div class="catalog_main_middle">
           <div class="catalog_main_middle-items">
             {% for tov in tovars %}

               {% if tov.stock >= 1 %}
             <div class="catalog_main_middle-item">
                 <article class="catalog__item">
                     <div class="catalog_item_image">
                 {% if tov.img_tovar %}
                 <a href="{% url 'tovar-detail' tov.id %}"><img class="item_img" src="{{ tov.img_tovar.url }}"></a>
                 {% endif %}
                     </div>
                     <div class="catalog_item_main">
                   <div class="catalog_item_main-name">
                       <h4>{{ tov.slug }}</h4>
                   </div>
                   <div class="catalog_item_main-description">
                       <p>{{ tov.description }}</p>
                   </div>
                   <div class="catalog_item_main-price">
                     <p>{{ tov.price_tovar|intcomma }} ₽</p>
                   </div>
                         {% for item in cart %}
                         {% if item.tovar == tovar %}
                         <p class="in_cardtovar">Товар добавлен в корзину</p>
                         {% endif %}
                         {% endfor %}
                         {% for ele in MK %}
                         {% if ele.tovar == tov and tov.category_tovar.name_category == 'Мастер-класс' %}
                         {% if ele.order.status == 'Выполнен' %}
                         <a href="{% url 'orders:get_mks' %}">Мастер-класс уже в вашем Личном кабинете!</a>
                         {% endif %}
                         {% endif %}
                         {% endfor %}

                            <div class="catalog_item_bottom">
                   <form id="In_cart_{{ tov.slug }}" action="{% url 'cart:cart_add' tov.id %}" method="post">
                    {{ cart_tovar_form }}
                    {% csrf_token %}
                      <input class="button_in_cardtovar" style="padding:15px 20px;" type="submit" value="В корзину">

                   </form>

                 </div>



               </div>
                 </article>

             </div>
               {% else %}

             <div class="catalog_main_middle-item">
                 <article class="catalog__item">
                     <div class="catalog_item_image">
                 {% if tov.img_tovar %}
                 <a href="{% url 'tovar-detail' tov.id %}"><img class="item_img" src="{{ tov.img_tovar.url }}"></a>
                 {% endif %}
                     </div>
                     <div class="catalog_item_main">
                   <div class="catalog_item_main-name">
                       <h4>{{ tov.slug }}</h4>
                   </div>
                   <div class="catalog_item_main-description">
                       <p>{{ tov.description }}</p>
                   </div>
                   <div class="catalog_item_main-price">
                     <p>{{ tov.price_tovar|intcomma }} ₽</p>
                   </div>
                 <div class="catalog_item_bottom">
                      <input class="button_in_cardtovar" style="padding:15px 20px;" type="submit" value="Нет в наличии">

                 </div>
               </div>
                 </article>

             </div>
               {% endif %}

             {% endfor %}

           </div>
        </div>

    {% else %}
       <p class="textp">Товара нет!</p>
    {% endif %}
  </div>
</main>




{% endblock %}
