{% extends 'Main/layout.html' %}
{% load static %}
{% block title %}
Главная страница | Yarniverse Toys - онлайн-магазин материалов для вязания
{% endblock %}

{% block content %}
  <div class="about_us_page">

    <div class="about_us_middle">




      <div class="about_us_text">
        <h1>Погрузитесь в искусство запутывания нитей с нами!</h1>
        <p>Yarniverse Toys - онлайн-магазин мастер-классов и материалов для вязания.</p>
        <p class="">Мы признательны, что Вы заглянули в нашу уютную
        вселенную, а это значит, что
        наша продукция Вам интересна. Здесь Вы найдете высококачественные
        материалы для вязания, а также интересные и легко изучаемые мастер-классы.</p>
      </div>


      <div class="about_us_images">
        <div class="about_us_image-1row">
          <div class="about_us_image_row">
             <img src="{% static 'Main/img/mainpage3.jfif' %}" alt="" width="240px" >

             <p>Мастер-классы</p>
          </div>
        </div>
        <div class="about_us_image-2row">
          <div class="about_us_image_row">
            <p>Пряжа и материалы для вязания</p>
            <img src="{% static 'Main/img/about_us_4.png' %}" alt="" width="240px" height="300px">
          </div>
        </div>
      </div>


    </div>
    <div class="about_us_bottom">
      <div class="about_us_bottom_item">
        <i class="bi bi-star"></i>
        <h4>Гарантия качества</h4>
      </div>
      <div class="about_us_bottom_item">
        <i class="bi bi-truck"></i>
        <h4>Быстрая доставка</h4>
      </div>
      <div class="about_us_bottom_item">
        <i class="bi bi-check2"></i>
        <h4>Premium-подписка</h4>
      </div>
      <div class="about_us_bottom_item">
        <i class="bi bi-gift"></i>
        <h4>Бонусная система</h4>
      </div>
      <div class="about_us_bottom_item">
        <i class="bi bi-book"></i>
        <h4>Мастер-классы</h4>
      </div>
    </div>
<!--<h1 class="textp">Yarniverse Toys - это онлайн-магазин материалов для вязания и мастер-классов</h1>

<p class="">Вязание – один из самых древних и полезных видов рукоделия. Вязание было и остается популярным видом прикладного искусства благодаря неограниченной возможности создавать новые, неповторимые вещи для людей любого возраста. В настоящее время вязание становится очень актуальным видом рукоделия.
Технологии вязания бывают разнообразными, начиная от крючков и спиц, заканчивая машинками. </p>
<p class="">Мы признательны, что Вы заглянули в нашу прекрасную вселенную запутывания нитей, это значит, что наша продукция Вам интересна. Возможно вязание - это Ваше хобби, способ заработка или же Вы совсем новичок, который не знает с чего начать. В любом случае наш онлайн-магазин поможет Вам. Здесь Вы найдете высококачественные материалы для вязания и интересные, легко изучаемые мастер-классы.</p>


<p class="">Мы предлагаем Вам:</p>
<li class="">ВЫГОДУ. Наш интернет-магазин работает напрямую с поставщиками, тем самым гарантируя своим покупателям демократичные цены на весь наш ассортимент товаров</li>
<li class="">КАЧЕСТВО. Мы работаем только с известными и проверенными производителями, такими как: Троицкая пряжа, Vita, Vita Cotton, Nako, Alize, Пехорка и др.</li>
<li class="">ВЫБОР. У нас имеется огромная палитра цветов пряжи, а так же любой, интересующий Вас состав, например: шерсть, бамбук, нейлон, акрил и др.</li>
<li class="">КОМФОРТ. Вы сможете выбрать товар по своим запросам, оформить заказ на любой день и время, выбрать способ оплаты и оформить доставку, где бы Вы не находились.</li>
<li class="">БОНУСЫ. Скидка при заказе на определенную сумму. А так же у нас имеются подписки, которые предоставят Вам некоторые привилегии.</li>-->
</div>

{% endblock %}
